/*
Stylesheet: Pizza Portal;
*/

*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #dcdde1;
  cursor: pointer;
}

.wrapper{
  padding: 1%;
  margin: 0 auto;
  width: 80%
}

.text_center{
  text-align: center;
}

/* Header */
.header{
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: #44bd32;
  border-bottom: 5px solid black;
  z-index: 1000;
}

.header ul{
  list-style-type: none;
}

.header ul li{
  display: inline;
  padding: 1%;
}

.header ul li a{
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.header ul li a:hover{
  color: black;
}

.logo img {
  width: 350px;
  height: auto;
}

/* Main Content */
.main_content{
  padding: 1% 0%;
}

h1{
  font-size: 34px;
  text-align: center;
}

h2{
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

h3{
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

h4{
  font-size: 16px;
  text-align: center;
  font-weight: normal;
}

h5{
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.column_4{
  width: 20%;
  background-color: #f5f6fa;
  margin: 1%;
  padding: 1%;
  float: left;
  border: 2.5px solid black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.column_4:hover {
  transform: translateY(-5px);
  background-color: #f5f6fa;
}

.fix{
  float: none;
  clear: both;
}

.short_table{
  width: 19%;
  border-bottom: 2.5px solid black;
  background-color: #f5f6fa;
  text-align: center;
}

.short_table td {
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2.5px solid black;
  background-color: #f5f6fa;
}

table tr th {
  border-bottom: 2.5px solid black;
  padding: 1%;
  text-align: center;
}

table tr td {
  padding: 1%;
  text-align: center;
}

.button1{
  background-color: #4cd137;
  padding: 1%;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border: 2.5px solid black;
  cursor: pointer;

}

.button1:hover {
  background-color: yellow;
  color: black;
}

.button2{
  background-color: #f5f6fa;
  padding: 1%;
  margin-left: 15px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border: 2.5px solid black;
  cursor: pointer;

}

.button2:hover {
  background-color: yellow;
  color: black;
}

.successful {
  color: #4cd137;
  font-weight: bold;
}

.failed {
  color: #e84118;
  font-weight: bold;
}

form {
  margin: auto;
  width: 350px;
}

input {
  font-size: 16px;
  background-color: white;
  width: 340px;
  height: 50px;
  border: 2.5px solid black;
  padding: 5px;
}

input::placeholder {
  font-weight: bold;
}

.input2 {
  font-size: 16px;
  background-color: white;
  width: 340px;
  height: 50px;
  border: 2.5px solid black;
  padding: 5px;
  padding-top: 11px;
}

.input2::placeholder {
  font-weight: bold;
}

/* Footer */
.footer{
  font-weight: bold;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #c23616;
  color: white;
  border-top: 5px solid black;
}
